<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="myreddit" ng-controller="RedditCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="loadNewerReddit()">
        </ion-refresher>
        <div class="list">
            <a class="item item-thumbnail-left item-text-wrap"
               ng-repeat="item in content track by item.id"
               ng-click="openLink(item.url)"
               >
              <img ng-src="{{item.thumbnail}}">
              <h2>{{item.title}} </h2>
              <p> <span am-time-ago="item.created " am-preprocess="unix"></span>- {{item.domain}}</p>
            </a>
          </div>
          <ion-infinite-scroll
            on-infinite="loadOlderReddit()"
            distance="1%">
          </ion-infinite-scroll>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
